.addcom-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.addcom-back-button {
    cursor: pointer;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    background-color: rgba(72, 65, 118, 0.528);
    color: white;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
}

.addcom-back-button:hover {
    background-color: black;
}

.hideme {
    opacity: 0;
}

.addcom-okay1 {

    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.addcom-okay2 p {
    color: rgba(10, 10, 10, 0.594);
}

#addcom-name {
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.addcom-okay1 img {
    border-radius: 50%;
}

.addcom-okay2 {
    display: flex;
    flex-direction: column;
}

.addcom-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 4px;
    border: none;
    background-color: rgba(192, 98, 98, 0.611);
}

.addcom-edit {
    position: absolute;
    top: 10px;
    border: none;
    right: 65px;
    cursor: pointer;
    padding: 4px;
    background-color: beige;
}

.addcom-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.addcom-edited-title {
    color: rgba(0, 0, 0, 0.465);
    font-size: 14px;
}

.addcom-content h1 {
    font-size: 19px;
    padding: 5px;
}

.addcom-content p {
    color: rgba(0, 0, 0, 0.786);
    padding: 5px;
}

.addcom-map-div {
    border-radius: 10px;
    max-width: 700px;
    min-width: 600px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.164);
}

.addcom-comment {
    padding: 5px;
    color: gray;
}