.addcom-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 120vh;
}

.addcom-back-button {
    cursor: pointer;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    background-color: rgba(72, 65, 118, 0.528);
    color: white;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
}

.addcom-back-button:hover {
    background-color: black;
}

.hideme {
    opacity: 0;
}

.addcom-okay1 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.addcom-okay2 p {
    color: rgba(10, 10, 10, 0.594);
}

#addcom-name {
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.addcom-okay1 img {
    border-radius: 50%;
}

.addcom-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 4px;
    border: none;
    background-color: rgba(192, 98, 98, 0.611);
}

.addcom-edit {
    position: absolute;
    top: 10px;
    border: none;
    right: 65px;
    cursor: pointer;
    padding: 4px;
    background-color: beige;
}

.addcom-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.addcom-edited-title {
    color: rgba(0, 0, 0, 0.465);
    font-size: 14px;
}

.addcom-content h1 {
    font-size: 20px;
    padding: 5px;
}

.addcom-content p {
    color: rgba(0, 0, 0, 0.786);
    padding: 5px;
    font-size: 17px;

}

.addcom-map-div {
    border-radius: 10px;
    width: 100%;
    max-width: 700px;

    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.266);
}

.addcom-comment {
    padding: 5px;
    color: gray;
}

.addcom-comment-fixme {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.addcom-contain-map {
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.266);
}

.addcom-contain-map:hover {
    background-color: rgba(119, 119, 119, 0.063);
}

.addcom-comment-fixme img {
    border-radius: 50%;
}

.addcom-last-div-button-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 4px;
    background-color: rgba(197, 41, 67, 0.416);
    border: none
}

.addcom-last-div-button-edit {
    position: absolute;
    top: 10px;
    right: 65px;
    cursor: pointer;
    padding: 4px;
    background-color: rgba(210, 213, 140, 0.466);
    border: none
}

.addcom-ptag-comment {
    padding: 10px;
    font-size: 17px;
}

.addcom-ptag-comment span {
    color: rgba(0, 0, 0, 0.465);
    font-size: 14px;
}

.addcom-faded {
    color: rgba(10, 10, 10, 0.594)
}

.addcom-notfaded {
    font-weight: bold;
}

.addcom-bigh1 {

    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

.addcom-form-com {

    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;


}

.addcom-form-com div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addcom-textarea {
    resize: none;
    margin: 10px;
    padding: 6px;
    outline: none;
}

.addcom-form-btn {
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.83);
    background-color: rgba(36, 33, 41, 0.765);
}

.addcom-form-btn:hover {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}