.editprofile-main-div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    margin: 0 auto
}

.editprofile-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editprofile-input {
    padding: 7px;
    outline: none;
}

.editprofile-textarea {
    padding: 7px;
    outline: none;
    resize: none;
}

.editprofile-submit {
    cursor: pointer;
    background-color: rgba(62, 18, 115, 0.159);
    border: none;
    padding: 5px;
}

.editprofile-submit:hover {
    background-color: black;
    color: rgb(223, 197, 253);
}

.editprofile-clear {
    cursor: pointer;
    background-color: rgba(154, 153, 153, 0.232);
    border: none;
    padding: 5px;

}

.editprofile-clear:hover {
    background-color: rgba(0, 0, 0, 0.48);
    color: white;
}

.editprofile-file {
    cursor: pointer;
}

.editprofile-opening {
    color: rgba(49, 49, 49, 0.83);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    ;

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.266);
}