.editpost-container {
    padding: 70px;
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.editpost-container div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editpost-input {
    padding: 7px;
    outline: none;
}

.editpost-textarea {
    padding: 7px;
    outline: none;
    resize: none;
}

.editpost-submit-button {
    cursor: pointer;
    background-color: rgba(62, 18, 115, 0.159);
    border: none;
    padding: 5px;
}

.editpost-submit-button:hover {
    background-color: black;
    color: rgb(223, 197, 253);
}

.editpost-cancel-button {
    cursor: pointer;
    background-color: rgba(154, 153, 153, 0.232);
    border: none;
    padding: 5px;
}

.editpost-cancel-button:hover {
    background-color: rgba(0, 0, 0, 0.48);
    color: white;
}

.editpost-file-input {
    cursor: pointer;
}

.editpost-creation {
    color: rgba(49, 49, 49, 0.83);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.266);
}