.profile-main-div {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.profile-first-div {
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    border-right: 4px solid rgba(128, 128, 128, 0.191);
    border-left: 4px solid rgba(128, 128, 128, 0.191);
    gap: 20px;
    padding: 50px 40px;

}

.profile-edit-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 7px;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.66);
    cursor: pointer;
    background-color:
        rgba(167, 159, 159, 0.116);
    border-radius: 50%;
}

.profile-edit-btn:hover {

    background-color:
        rgba(167, 159, 159, 0.351);

}

.profile-first-div img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-name {
    font-weight: bold;
    font-size: 45px;
}

.profile-username,
.profile-location {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.66);
}

.profile-last {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-location {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.66);

}

.profile-last .profile-about {
    padding: 0px;
    border: 2px solid rgba(128, 128, 128, 0.184);

    margin-top: 40px;
    margin-bottom: 30px;
    min-width: 600px;
    max-width: 650px;

    padding: 50px 30px;
    padding-top: 10px;
    line-height: 25px;
    font-size: 17px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.211);
    color: rgba(0, 0, 0, 0.738);
}

.profile-about span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.766);
    background-color: rgba(128, 128, 128, 0.152);
    padding: 6px 10px;
    border-radius: 10px;

}